{% extends "layout.html" %}

{% block pageTitle %}
  A303 Dewsbury project overview
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

<!-- This is a custom block added in the template.njk file.
  This can be found under:
  node_modules > govuk-frontend > govuk > template.njk

  Without it we cannot put HTML outside of the main area.
-->
{% set containerClasses = "pins-sidebar--container" %}
{% set hasContentsAside = true %}

{% block contentsAside %}
  <aside class="pins-aside-page-contents">
    <h2 class="govuk-heading-s">Contents</h2>
    <ul class="govuk-list">
      <li><a href="./overview">A404 Dewsbury project information</a></li>
      <li><strong>About the application</strong></li>
      <li><a href="./document-library">All Examination documents</a></li>
      <li><a href="#">Recommendation and decision</a></li>
  </aside>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">A404 Dewsbury</h1>
  <h2 class="govuk-heading-m">About the application</h2>
  <div class="govuk-grid-row">
    <section class="pins-document-library-search govuk-grid-column-one-quarter">
      <label class="pins-label-small" for="search_documents">Search</label>
      <div class="pins-document-library-search-wrapper">
        <input class="search-documents-input" type="text" name="search" id="search_documents">
        <button class="search-documents-submit" type="submit" value="Search">Search</button>
      </div>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <h3 class="govuk-heading-s">Filter documents</h3>
        <div class="govuk-accordion__section govuk-checkboxes--small pins-filter-checkboxes">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-content-heading-theme">
                Theme
              </span>
            </h2>
          </div>
          <div id="accordion-content-theme-noise-traffic-air" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-content-heading-theme">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="theme-noise-traffic-air">
            <label class="govuk-label govuk-checkboxes__label" for="theme-noise-traffic-air">Noise, traffic and air quality</label>
          </div>
          <div id="accordion-content-landscape-and-visual" class="govuk-accordion__section-content  govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-content-heading-theme">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="theme-landscape-visual">
            <label class="govuk-label govuk-checkboxes__label" for="theme-landscape-visual">Landscape and visual</label>
          </div>
          <div id="accordion-content-heritage" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-content-heading-theme">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="heritage">
            <label class="govuk-label govuk-checkboxes__label" for="heritage">Heritage</label>
          </div>
          <div id="accordion-content-theme-wildlife-habitats" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-content-heading-theme">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="theme-wildlife-habitats">
            <label class="govuk-label govuk-checkboxes__label" for="theme-wildlife-habitats">Local wildlife and habitats</label>
          </div>
        </div>
        <div class="govuk-accordion__section govuk-checkboxes--small pins-filter-checkboxes">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-who-submitted">
                Type of information
              </span>
            </h2>
          </div>
          <div id="accordion-content-examining-statement" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-who-submitted">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="type-of-information-examining-statement">
            <label class="govuk-label govuk-checkboxes__label" for="type-of-information-examining-statement">Environmental statement</label>
          </div>
          <div id="accordion-content-adequacy" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-type-of-information">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="type-of-information-adequacy">
            <label class="govuk-label govuk-checkboxes__label" for="type-of-information-adequacy">Adequacy of consultation report</label>
          </div>
          <div id="accordion-content-procedural-decisions" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-type-of-information">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="type-of-information-procedural-decisions">
            <label class="govuk-label govuk-checkboxes__label" for="type-of-information-procedural-decisions">Procedural decisions</label>
          </div>
          <div id="accordion-content-consultation-reports" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-type-of-information">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="type-of-information-consultation-reports">
            <label class="govuk-label govuk-checkboxes__label" for="type-of-information-consultation-reports">Consultation reports</label>
          </div>
          <div id="accordion-content-application-documents" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-type-of-information">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="type-of-information-application-documents">
            <label class="govuk-label govuk-checkboxes__label" for="type-of-information-application-documents">Application documents</label>
          </div>
        </div>
        <div class="govuk-accordion__section govuk-checkboxes--small pins-filter-checkboxes">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-type-of-information">
                Stages of the project
              </span>
            </h2>
          </div>
          <div id="accordion-content-pre-application" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-stages-of-the-project">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="stages-of-the-project-pre-application">
            <label class="govuk-label govuk-checkboxes__label" for="stages-of-the-project-pre-application">Pre-application</label>
          </div>
          <div id="accordion-content-review-of-the-application" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-stages-of-the-project">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="stages-of-the-project-review-of-the-application">
            <label class="govuk-label govuk-checkboxes__label" for="stages-of-the-project-review-of-the-application">Review of the application</label>
          </div>
          <div id="accordion-content-pre-examination" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-stages-of-the-project">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="stages-of-the-project-pre-examination">
            <label class="govuk-label govuk-checkboxes__label" for="stages-of-the-project-pre-examination">Pre-examination</label>
          </div>
        </div>
        <div class="govuk-accordion__section govuk-checkboxes--small pins-filter-checkboxes">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-application-documents">
                Application documents
              </span>
            </h2>
          </div>
          <div id="accordion-content-application-form" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-application-documents">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="application-documents-application-form">
            <label class="govuk-label govuk-checkboxes__label" for="application-documents-application-form">Application form</label>
          </div>
          <div id="accordion-content-plans-and-drawings" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-application-documents">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="application-documents-plans-and-drawings">
            <label class="govuk-label govuk-checkboxes__label" for="application-documents-plans-and-drawings">Plans and drawings</label>
          </div>
          <div id="accordion-content-consultation-reports" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-application-documents">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="application-documents-consultation-reports">
            <label class="govuk-label govuk-checkboxes__label" for="application-documents-consultation-reports">Consultation reports</label>
          </div>
          <div id="accordion-content-environmental-statement" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-application-documents">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="application-documents-environmental-statement">
            <label class="govuk-label govuk-checkboxes__label" for="application-documents-environmental-statement">Environmental Statement</label>
          </div>
          <div id="accordion-content-compulsory-purchase" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-application-documents">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="application-documents-compulsory-purchase">
            <label class="govuk-label govuk-checkboxes__label" for="application-documents-compulsory-purchase">Compulsory purchase</label>
          </div>
          <div id="accordion-content-draft-dco" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-application-documents">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="application-documents-draft-dco">
            <label class="govuk-label govuk-checkboxes__label" for="application-documents-draft-dco">Draft Development Consent Order</label>
          </div>
          <div id="accordion-content-other-documents" class="govuk-accordion__section-content govuk-checkboxes__item govuk-checkboxes__item" aria-labelledby="accordion-default-heading-application-documents">
            <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="application-documents-other-documents">
            <label class="govuk-label govuk-checkboxes__label" for="application-documents-other-documents">Other documents</label>
          </div>
        </div>
      </div> <br>
      <a href="#" class="govuk-button">Apply filters</a>
    </section>
    <section class="documents-results govuk-grid-column-three-quarters">
      <p class="results"><strong><span id="results-number">21</span> results<strong></p>
        <hr />
        <div class="document-results-sort">
          <label class="govuk-label" for="document-results-sort">Sort by</label>
          <select id="document-results-sort" class="govuk-select">
            <option selected>Recently updated</option>
          </select>
        </div>
        <h2 class="govuk-heading-m">Pre-application documents</h2>
        <div class="pins-search-results-group">
          <h3 class="pins-search-results-group-heading">Environmental impact assessment scoping</h3>
          <div class="pins-search-results-group-items">
            <ul class="govuk-list">
              <li><a href="#">Late scoping consultation responses</a></li>
              <li><a href="#">Scoping opinion adopted by the Secretary of State</a></li>
              <li><a href="#">The Applicant's Scoping Report for A404 Dewsbury - Amesbury to Berwick Down. Submitted to the Secretary of State on 20 October 2017</a></li>
            </ul>
          </div>
        </div>
        <div class="pins-search-results-group">
          <h3 class="pins-search-results-group-heading">Notice of proposed application</h3>
          <div class="pins-search-results-group-items">
            <ul class="govuk-list">
              <li><a href="#">Acknowledgement of S46 Notification Update Letter - Extension to the Public Consultation</a></li>
              <li><a href="#">S46 notification - update</a></li>
              <li><a href="#">Acknowledgement of S46 notification</a></li>
              <li><a href="#">S46 notification</a></li>
            </ul>
          </div>
        </div>
        <div class="pins-search-results-group">
          <h3 class="pins-search-results-group-heading">Land rights (S53)</h3>
          <div class="pins-search-results-group-items">
            <ul class="govuk-list">
              <li><a href="#">S53 Authorisation Notice – Land Parcel 78/16</a></li>
            </ul>
          </div>
        </div>
        <div class="pins-search-results-group">
          <h3 class="pins-search-results-group-heading">Noise - developer</h3>
          <div class="pins-search-results-group-items">
            <ul class="govuk-list">
              <li><a href="#">Deadline 2 - Answer to panel's questions - Noise and vibration effects (1)</a></li>
              <li><a href="#">Deadline 8 - Summary of input into hearing - Noise and vibration</a></li>
              <li><a href="#">Deadline 6 - Answer to panel's questions - Noise and vibration effects (2)</a></li>
            </ul>
          </div>
        </div>
        <h2 class="govuk-heading-m">Review of the application documents</h2>
        <div class="pins-search-results-group">
          <h3 class="pins-search-results-group-heading">Acceptance letter</h3>
          <div class="pins-search-results-group-items">
            <ul class="govuk-list">
              <li><a href="#">Notification of Decision to Accept Application</a></li>
            </ul>
          </div>
        </div>
        <div class="pins-search-results-group">
          <h3 class="pins-search-results-group-heading">Adequacy of consultation</h3>
          <div class="pins-search-results-group-items">
            <ul class="govuk-list">
              <li><a href="#">Cotswold District Council - Adequacy of Consultation Representation</a></li>
              <li><a href="#">Dorset County Council - Adequacy of Consultation Representation</a></li>
              <li><a href="#">Gloucestershire County Council - Adequacy of Consultation Representation</a></li>
              <li><a href="#">Hampshire County Council - Adequacy of Consultation Representation</a></li>
              <li><a href="#">Somerset County Council - Adequacy of Consultation Representation</a></li>
              <li><a href="#">South Gloucestershire Council - Adequacy of Consultation Representation</a></li>
              <li><a href="#">South Oxfordshire and Vale of White Horse District Councils - Adequacy of Consultation Representation</a></li>
              <li><a href="#">West Berkshire District Council - Adequacy of Consultation Representation</a></li>
              <li><a href="#">Wiltshire Council - Adequacy of Consultation Representation</a></li>
            </ul>
          </div>
        </div>
        <div class="pins-search-results-pagination" id="pins-search-results-pagination">
          <a href="#" class="govuk-link govuk-link--no-underline">1</a>
          <a href="#" class="govuk-link">2</a>
          <a href="#" class="govuk-link">Next</a>
        </div>
      </div>
  </section>
{% endblock %}

{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
