{% extends "layout_la.html" %}

{% block pageTitle %}
  Social Security Scotland
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1> This is a test page</h1>

    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
<p>  <u> Assessibility</u> &emsp; &emsp; <u>Contact us</u> &emsp; &emsp; <u>Privacy </u> &emsp; &emsp; <u>Social Security Corporate site</u> </p>

<hr class="govuk-footer__section-break">

<div class="govuk-footer__meta">
  <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p>mygov.scot is the place for people in Scotland to access
        public services that are easy to find and simple to use</p>
    </div>
    <div class="govuk-grid-column-one-quarter-from-desktop">
      <p><a href="/index.html" id="logo-ssg1"><image src="{{ asset_path }}images/ssg2.png" alt="ssg2 logo" width="200" height="80"></image></a></p>
    </div>
  </div>

</div>
    </div>
  </div>
</footer>
{% endblock %}
