
{% extends "layout_la.html" %}

{% block pageTitle %}
  Social Security Scotland
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Dashboard prototypes
        <br>
        <br>
    
      <p>
        Please find all the links to the prototypes below.
      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Prototypes</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="../forms/sss-forms/dashboard-one-icons/home">Dashboard 1 with icons</a>
        </li>
        <li>
          <a href="../forms/sss-forms/dashboard-one-images/home">Dashboard 1 with images</a>
        </li>
        <li>
          <a href="../forms/sss-forms/dashboard-two-icons/home">Dashboard 2 with icons</a>
        </li>
          <li>
            <a href="../forms/sss-forms/dashboard-two-images/home">Dashboard 2 with images</a>
          </li>
      </ul>
    </div>

  </div>

{% endblock %}
